@media screen and (max-width: 768px) {
    .blog_intro {
        width: 95% !important;
    }
}

.blog_intro {
    margin: auto;
    text-align: center;
    width: 60%;
    max-width: 800px;
    &_title {
        margin-top: 1.5rem;
        font-size: 32px;
        font-family: 'Montserrat-Light';
    }
}