@media screen and (max-width: 850px) {
    .container_blog_page {
        padding-bottom: 15rem !important;
    }

    .blog {
        &_intro {
            width: 95% !important;
        }
        
        &_article {
            width: 95% !important;
            
            &_modify {
                right: 1rem !important;
            }
            
            &_deco {
                width: 70% !important;
            }
        }
    }
}

.container_blog_page {
    padding-bottom: 19rem;
}

.blog {
    &_intro {
        margin: auto;
        text-align: center;
        width: 60%;
        max-width: 800px;
        
        &_title {
            margin-top: 1.5rem;
            font-size: 32px;
            font-family: 'Montserrat-Light';
        }
        
        &_link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-clr;
            border: 1px solid $primary-clr;
            border-radius: 1rem;
            height: 3rem;
            width: 30%;
            min-width: 165px;
            font-size: 18px;
            margin: 2rem auto 0 auto;
            box-shadow: 0 0 5px #0000002e;
            transition: all 400ms ease-in-out;
            padding: 0.2rem 1rem;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 16px #0000002e;
            }
            
            &_icon {
                margin-right: 0.5rem;
            }
        }
    }

    &_article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        max-width: 800px;
        margin: auto;

        & li {
            position: relative;
            min-width: -webkit-fill-available;
        }

        &_modify {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: absolute;
            right: 4rem;
            top: 6rem;
            
            &_icon {
                display: flex;
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 5rem;
                background-color: $primary-clr;
                justify-content: center;
                align-items: center;
                align-self: end;
                opacity: 0.5;
                transition: all 350ms ease-in-out;
                &:hover {
                    opacity: 1;
                }
            }
            
            &_menu {
                display: none;
                
                &_expanded {
                    display: block;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 1px solid $secondary-clr;
                    border-radius: 0.3rem;
                    backdrop-filter: blur(10px);
                    font-family: 'Montserrat-Bold';
                    margin-top: 0.5rem;
                    opacity: 1;
                    text-align: center;
                }

                &_content {
                    padding: 0 0.5rem;
                    cursor: pointer;
                }

                &_deco {
                    display: block;
                    width: 100%;
                    height: 1px;
                    background-color: $secondary-clr;
                    margin: 0;
                    padding: 0;
                }
            }
        }
        
        &_deco {
            display: flex;
            align-self: center;
            background-color: $primary-clr;
            height: 3px;
            width: 65%;
            min-width: 350px;
            max-width: 600px;
            margin: 3rem 0;
            border-radius: 1rem;
        }
        
        &_title {
            display: flex;
            flex-direction: column;
            font-size: 26px;
            margin: -0.4rem 0 0.7rem 0;
            
            &_underline {
                display: block;
                height: 2px;
                width: 40%;
                border-radius: 1rem;
                margin: 0.3rem 0 0 0;
                background-color: $primary-clr;
            }
        }

        &_img {
            width: 90%;
            object-fit: cover;
            border-radius: 0.3rem;
            margin: 1rem 0;
            box-shadow: 0 0 16px #0000002e;
        }
        
        &_content {
            margin: 0.5rem 0;
            text-align: center;
            font-size: 16px;
            white-space: pre-line;
        }

        &_comment {
            margin-bottom: 0;
            font-size: 14px;
            opacity: 0.7;
        }
    }
}