@media screen and (max-width: 850px) {
    .contact {
        &_form {
            width: 90% !important;
            &_btn {
                width: 70% !important;
            }
        }
    }
}

.contact {
    &_intro {
        max-width: 600px;
        margin: auto;

        &_title {
            margin-top: 1.5rem;
            font-size: 32px;
            font-family: 'Montserrat-Light';
        }
        
        &_content {
            margin: 0;
            font-size: 16px;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 auto 1.2rem auto;
        background-color: $tertiary-clr;
        
        &_container {
            display: flex;
            flex-direction: column;
            border: 2px solid $secondary-clr;
            border-radius: 0.3rem;
            padding: 1rem 0.8rem;
        }

        &_input {
            margin-top: 0;
            margin-bottom: 1.3rem;
            height: 2.1rem;
            font-size: 15px;
            font-family: 'Montserrat-Bold';
            color: rgba(0, 0, 0, 0.681);
            width: 98%;
            &:focus {
                font-family: 'Montserrat';
            }

            &_message {
                height: 5rem;
                margin-bottom: 0;
            }
        }

        &_btn {
            width: 50%;
            height: 2.3rem;
            margin: 1rem auto 0 auto;
        }
    }

    &_message {
        width: 80%;
        margin: auto;
        &_deco {
            max-width: 350px;
        }

        &_title {
            margin-top: -1rem;
            font-size: 25px;
        }

        &_list {
            display: flex;
            flex-direction: column;
            text-align: left;
            
            &_item {
                position: relative;
                border: 2px solid $secondary-clr;
                background-color: $tertiary-clr;
                border-radius: 0.3rem;
                margin: 0.5rem 0;
                padding: 0 1rem;

                &_container {
                    display: flex;
                    align-items: center;
                    margin: 1rem 0;
                }
                
                
                
                &_title {
                    margin: 0 0 0 0.5rem;
                }

                &_subtitle {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-family: 'Montserrat-Bold';
                }

                &_message {
                    margin-top: 0.5rem;
                    margin-bottom: 2rem;
                }

                &_deco {
                    display: block;
                    position: absolute;
                    top: 7.2rem;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: $primary-clr;
                    &_2 {
                        top: 13.8rem;
                    }
                }

                &_response {
                    margin-top: 0.5rem;
                    font-family: 'Montserrat-Light';
                }
            }
        }
    }
}