@media screen and (max-width: 850px) {
    .container_contact {
        padding-bottom: 16rem !important;
    }

    .contact {
        width: 95% !important;
        &_form {
            width: 90% !important;
            &_btn {
                width: 70% !important;
            }
        }
    }
}

.container_contact {
    padding-bottom: 20rem;
}

.contact {
    width: 70%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    &_intro {
        &_title {
            margin-top: 1.5rem;
            font-size: 32px;
            font-family: 'Montserrat-Light';
        }
        
        &_content {
            margin: 0.5rem 0;
            font-size: 16px;
        }
    }

    &_form {
        width: 80%;
        max-width: 500px;
        margin: auto;
        
        & span {
            margin-left: auto;
            margin-right: auto;
        }
        
        &_container {
            display: flex;
            flex-direction: column;
            border: 2px solid $secondary-clr;
            border-radius: 0.3rem;
            padding: 1rem 0.8rem;
        }

        &_input {
            height: 2.3rem;
            margin-bottom: 1.5rem;
            font-size: 14px;
            border-radius: 0.3rem;
            border: 2px solid $primary-clr;
            font-family: 'Montserrat-Bold';
            color: rgba(0, 0, 0, 0.681);
            &:focus {
                outline-color: $secondary-clr;
                border: 3px solid $secondary-clr;
                font-family: 'Montserrat';
            }

            &_message {
                height: 5rem;
                margin-bottom: 0;
            }
        }

        &_btn {
            width: 50%;
            margin: 1rem auto 0 auto;
            height: 2rem;
            border-radius: 0.3rem;
            border: 1px solid $primary-clr;
            background-color: $primary-clr;
            font-family: 'Montserrat-Bold';
            font-size: 16px;
            box-shadow: 0 0 5px #0000002e;
            transition: all 400ms ease-in-out;
            &:hover {
                background-color: $secondary-clr;
                box-shadow: 0 0 16px #0000002e;
            }
        }
    }

    &_message {
        &_list {
            display: flex;
            flex-direction: column;
            text-align: left;
            &_item {
                border: 2px solid $secondary-clr;
                margin: 0.5rem 0;
                padding: 0 1rem;
            }
        }
    }
}