@media screen and (max-width: 750px) {
    .header {
        flex-direction: row;
        
        &_title {
            margin-left: 25px !important;
            margin-bottom: 0.5rem !important;
            justify-content: flex-start !important;
            width: auto !important;
        }
        &_btn {
            display: block !important;
        }

        &_nav {
            & ul {
                display: none !important;
                position: absolute;
                top: 46px;
                right: 0;
                flex-direction: column;
                align-self: flex-start;
                width: 40%;
                min-width: 250px;
                height: auto;
                background-color: white;
                border: 1px solid rgba(209, 213, 187, 0.272);
            }
            & li {
                text-align: center;
                margin: 0;
                & .header_nav_link {
                    width: 100%;
                    padding: 1.5rem 0;
                }
                &:hover {
                    background-color: rgba(209, 213, 187, 0.272);
                }
            }
            &.expanded ul {
                display: block !important;
                z-index: 9000;
            }
            &_link {
                &_messages {
                    justify-content: center;
                }
            }
        }
    }
}

.header {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    &_title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0.5rem auto 0 auto;
        font-family: 'Montserrat-Light';
    }
    
    &_btn {
        border: 0;
        height: 40px;
        width: 40px;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: $primary-clr;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        display: none;
        & svg {
            transition: all 0.5s ease-in-out;
        }
        &:hover {
            background-color: #b4b7a0;
            & svg {
                transform: rotate(90deg);
            }
        }
    }

    &_nav {
        width: 100%;
        & ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0.5rem auto 1rem auto;
            max-width: 1900px;
        }
        
        &_link {
            padding: 0rem;
            font-size: 14px;
            text-align: center;
            display: block;
            width: 100%;
            &:hover {
                font-family: 'Montserrat-Bold';
            }

            &_messages {
                display: flex;
                align-items: center;
                
                &_number {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 1.3rem;
                    height: 1.3rem;
                    border-radius: 5rem;
                    background-color: $secondary-clr;
                    margin-left: 0.5rem;
                    margin-bottom: 0.1rem;
                    font-family: 'Montserrat-bold';
                }
            }
        }
    }
}