@media screen and (max-width: 850px) {
    .message {
        margin-bottom: 3rem !important;
        &_list {
            &_item {
                width: 90% !important;
            }
        }
    }
}

.message {
    &_title {
        font-family: 'Montserrat-Light';
        font-size: 27px;
        margin: -2rem auto 2rem auto;
        text-align: center;
    }

    &_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &_item {
            width: 60%;
            max-width: 600px;
            border: 2px solid $secondary-clr;
            border-radius: 0.3rem;
            margin-bottom: 2.2rem;
            background-color: $tertiary-clr;
            box-shadow: 0 0 10px #0000002e;
            
            &_container {
                display: flex;
                flex-direction: column;
                padding: 0.8rem 1rem 0.3rem 1rem;
                
                &_titles {
                    display: flex;
                    align-items: center;
                    margin: 0rem 1rem 0.5rem 0rem;
                }
            }

            &_sendAt {
                font-size: 13px;
                margin-top: 0.3rem;
                font-family: 'Montserrat-Italic';
                color: rgba(0, 0, 0, 0.7);
            }
            
            &_titles {
                font-family: 'Montserrat-bold';
                margin: 0;
                &_contact {
                    text-align: initial;
                }
            }
            
            &_subtitles {
                margin: 0 0.5rem;
                &_contact {
                    text-align: initial;
                    margin: 0.5rem 0;
                }
                
                &_message {
                    margin: 0.5rem 0;
                    &_contact {
                        text-align: initial;
                        &_italic {
                            font-family: 'Montserrat-Italic';
                        }
                    }
                }
            }

            &_deco {
                height: 2px;
                width: 100%;
                background-color: $secondary-clr;
                display: block;
            }

            &_response {
                padding: 0.8rem 1rem 0.3rem 1rem;
            }

            &_reply {
                padding: 1rem;
                
                &_box {
                    display: flex;
                    justify-content: center;
                    
                    &_btn {
                        margin-top: 0;
                        font-size: 15px;
                        width: 60%;
                    }
                }
                
                &_textarea {
                    width: 98%;
                    height: 80px;
                    margin: 0.5rem auto;
                }

                &_btns {
                    display: flex;
                    justify-content: space-around;
                    &_btn {
                        margin-top: 0.3rem;
                        width: 40%;
                        &_cancel {
                            background-color: rgb(196, 196, 196);
                        }
                    }
                }
            }
        }
    }
}