@media screen and (max-width: 850px) {
    .new_article {
        width: 95% !important;
        &_form_img {
            width: 98% !important;
            max-width: 550px;
        }
    }
}

.container_new_article {
    padding-bottom: 20rem;
}

.new_article {
    width: 70%;
    max-width: 700px;
    margin: auto;
    
    &_header {
        &_title {
            text-align: center;
            margin-top: 1.5rem;
            font-size: 32px;
            font-family: 'Montserrat-Light';
        }
    }

    &_form {
        width: 100%;

        &_label {
            font-size: 19px;
        }
        
        &_input {
            margin: 0.5rem 0 1.5rem 0;
            border-radius: 0.3rem;
            font-size: 16px;

            &_title {
                width: 99%;
                height: 1.4rem;
                border: 2px solid $primary-clr;
                &:focus {
                    outline-color: $secondary-clr;
                }
            }

            &_description {
                height: auto;
                min-height: 10rem;
            }
        }

        &_container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &_img {
            width: 85%;
            object-fit: cover;
            border-radius: 0.3rem;
            margin: 1rem 0;
            box-shadow: 0 0 16px #0000002e;
        }
    }

    &_footer {
        display: flex;
        justify-content: center;
        
        &_btn {
            text-align: center;
            width: 30%;
            padding: 0.8rem 0;
            margin: 2rem 1rem -0.3rem 1rem;
            font-family: 'Montserrat-Bold';
            border: 1px solid $primary-clr;
            border-radius: 0.5rem;
            box-shadow: 0 0 5px #0000002e;
            transition: all 400ms ease-in-out;
            
            &_cancel {
                &:hover {
                    background-color: $primary-clr;
                }
            }
            
            &_confirm {
                background-color: $primary-clr;
                &:hover {
                    background-color: $secondary-clr;
                }
            }
        }
    }
}

.ql {
    &-toolbar.ql-snow {
        border: 2px solid $primary-clr !important;
        border-radius: 0.3rem 0.3rem 0 0;
    }
    
    &-container.ql-snow {
        min-height: 8rem;
        border: 2px solid $primary-clr !important;
        border-top: 0px !important;
        border-radius: 0 0 0.3rem 0.3rem;
        font-size: 16px;
    }
}