@media screen and (max-width: 460px) {
    .section_welcome {
        width: 95% !important;
    }
}

@media screen and (min-width: 460px) and (max-width: 850px) {
    .section_welcome {
        width: 82% !important;
    }
}

.section_welcome {
    width: 60%;
    max-width: 700px;
    margin: auto;
    
    &_title {
        font-family: 'Montserrat-Bold';
        font-size: 27px;
        text-align: center;
        margin: 2.8rem auto;
    }
    
    &_content {
        font-size: 18px;
        margin: 1.5rem;
    }
}