@import 'fonts';
@import 'variables';
@import 'Header';
@import 'Banners';
@import 'Home';
@import 'Blog';
@import 'NewArticle';
@import 'Confirm';
@import 'Contact';
@import 'Footer';

html {
    margin: auto;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}