@import 'fonts';
@import 'variables';
@import 'Header';
@import 'Banners';
@import 'Home';
@import 'Pages';
@import 'Blog';
@import 'NewArticle';
@import 'Modal';
@import 'Confirm';
@import 'GuestList';
@import 'Contact';
@import 'Messages';
@import 'Login';
@import 'ErrorAuth';
@import 'Footer';

@media screen and (max-width: 850px) {
    body {
        padding-bottom: 15rem !important;
    }
}

html {
    position: relative;
    margin: auto;
    min-height: 100vh;
    font-family: 'Montserrat';
    background-color: rgba(241, 240, 237, 0.276);
}

body {
    min-height: 100vh;
    margin: 0;
    padding-bottom: 19rem;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul {
    display: flex;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

input {
    font-family: 'Montserrat';
}